<%- include('partials/header.ejs'); -%>
    <h1>hello world!</h1>
    <% if(locals.books) { %>
        <% for (let book of books) { %>
            <p>

                <img src="<%= book.url%>" alt="<%= book.isbn %>" loading="lazy"><br>
                <%=book.author %><br>
                    <%= book.title %><br>
                        <%= book.rating %><br>
                            <%= book.note %><br>
                                <%= new Date(book.read_date).toISOString().split('T')[0] %>
            </p>
            <% } %>
                <% } %>
                    <button onClick="location.href='/addPage'">Add boook</button>
                    <%- include('partials/footer.ejs'); -%>