<%- include('partials/header.ejs'); -%>
    <nav id="sorter" class="navbar navbar-expand navbar-dark bg-dark sorter " aria-label="Ninth navbar example">
        <div class="container d-flex justify-content-center align-items-center flex-column">
            <div class="collapse navbar-collapse " id="navbarsExample07XL">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                            aria-expanded="false">Sort by:</a>
                        <ul class="dropdown-menu sort-menu">
                            <li><a class="dropdown-item sort-item" href="/books?sort=rating">Rating(From best to
                                    worst)</a></li>
                            <li><a class="dropdown-item sort-item" href="/books?sort=title">Title(A-Z)</a></li>
                            <li><a class="dropdown-item sort-item" href="/books?sort=date">Date(Newest)</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container w-100">
        <% if(locals.books) { %>
            <% for (let book of books) { %>
                <div class="divider"></div>
                <div class="container col-xxl-8 px-4 py-5">
                    <div class="row flex-lg-row align-items-center g-1 py-5">
                        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center">
                            <img src="<%= book.url%>" class=" mx-lg-auto img-fluid" alt="<%= book.isbn %>"
                                loading="lazy" style="min-height:200px">
                        </div>
                        <div class="col-lg-6">
                            <h1 class=" fw-bold lh-1 mb-3">
                                <%= book.title %>
                            </h1>
                            <h5>
                                <%=book.author %> , My rating: <%= book.rating %>/10, Added on: <%= new
                                            Date(book.read_date).toISOString().split('T')[0] %>
                            </h5>
                            <p class="lead">
                                <span style="font-weight: bold !important;">Note:</span>
                                <%= book.note.substring(0, 300) + "..." %>
                            </p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                <button onClick="location.href='/book/<%= book.id %>'" type="button"
                                    class="btn btn-info text-white btn-lg px-4 me-md-2">Read
                                    more</button>

                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                    <% } %>

    </div>
    <script>
        $(".home").addClass("bg-info")
        //SEcond Navbar dynamic margin
        document.addEventListener("DOMContentLoaded", () => {
            const firstNavbar = document.getElementById("menu");
            const secondNavbar = document.getElementById("sorter");

            const adjustMargin = () => {
                const navbarHeight = firstNavbar.offsetHeight; // Pobierz dynamiczną wysokość
                secondNavbar.style.marginTop = `${navbarHeight}px`;
            };

            adjustMargin(); // Ustaw margines przy ładowaniu strony

            // Ponowne dostosowanie przy zmianie rozmiaru okna (dla responsywności)
            window.addEventListener("resize", adjustMargin);
        });
    </script>
    <%- include('partials/footer.ejs'); -%>